.clusterMarkerLayout {
  position: relative;
}

.clusterMarkerCountBox {
  position: absolute;
  top: -10px;
  right: -10px;
  background: rgba(0, 0, 0, 40%);
  border-radius: 30px;
  width: 20px;
  height: 20px;
  color: white;
  font-size: 9px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.userMarker {
  border-radius: 30px;
  width: 36px;
  height: 36px;
  position: absolute;
  z-index: 100;
  overflow: hidden;
  box-shadow: 0px 0px 4px rgb(0 0 0 / 50%);
}
